$main-text-colour: black;
$main-background: white;
$main-font: 'helvetica', 'arial', sans-serif;
$main-font-size: 16px;
$main-header-size: 20px;

.hidden {
    display: none;
}

img:hover {
    cursor: pointer;
}